<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>PROSKI</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="logoWrapper">
        <img class="mainlogo" src="assets/img/proski-logo.png">
    </div>
    <ion-searchbar autocomplete="true" debounce="1200" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>

        <ion-item *ngFor="let category of menuItems" (click)="toogleSubcat(category.id)" (press)="openCategory(category.id,category.title)">
            <ion-icon name="add-circle-outline"></ion-icon> <b> {{ category.title }} </b>

            <ion-item-group *ngIf="isSubcatShown(category.id)" submenu id="sub-{{category.id}}">
                <button ion-item *ngFor="let subcat of category.submenu" (click)="openCategory(subcat.id,subcat.title)">{{subcat.title}}</button>
            </ion-item-group>
        </ion-item>





    </ion-list>
</ion-content>